<h2>Тест Company API</h2>

<input type="text" id="eik" placeholder="ЕИК">
<button onclick="loadCompany()">Зареди</button>


<input type="text" id="company" placeholder="Фирма">
<input type="text" id="city" placeholder="Град">
<input type="text" id="address" placeholder="Адрес">
<input type="text" id="manager" placeholder="Управител">

<div id="result"></div>

<script>


function loadCompany() {

    let eik = document.getElementById('eik').value;

    if (eik.length < 9) {
        return;
    }

    fetch('index.php?route=api/company/eik&eik=' + eik)
    .then(r => r.json())
    .then(data => {

        document.getElementById('company').value = data.name;
        document.getElementById('city').value = data.city;
        document.getElementById('address').value = data.address;
        document.getElementById('manager').value = data.manager;

    });

}
</script>